/*///////////////////////////////////////////////////*/
/*//////////////////_CSS_RESET_//////////////////////*/
/*///////////////////////////////////////////////////*/

html {
    /* equals 1rem = 10px for most browsers*/
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    border: 0px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*///////////////////////////////////////////////////*/
/*///////////////////_MAIN_CSS_//////////////////////*/
/*///////////////////////////////////////////////////*/

:root {
    --white: #FFF2E4;
    --pink: #EC5B55;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background 1s ease-in-out;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    -ms-transition: background 1s ease-in-out;
    -o-transition: background 1s ease-in-out;
}

body::before {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

main {
    border: 10px solid;
    border-color: var(--pink);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98vw;
    height: 96vh;
    padding: 4px;
    margin: 4px;
}

main::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url("https://res.cloudinary.com/billu/image/upload/v1537482100/Cats/logo22.png");
    background-repeat: repeat;
    opacity: 0.3;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 22px;
    border: 3px solid;
    border-color: var(--white);
    width: 96vw;
    height: 91vh;
    margin: 4px;
    padding: 4px;
}

#quote-box-container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Purpose: debugging */
    background-color: purple;
}

#quote-box {
    height: 80vh;
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60vh 4px 10vh 4px 66px;
}

#text-box {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* Purpose: debugging */
    background-color: burlywood;
}

#author-box {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    /* Purpose: debugging */
    background-color: aqua;
}

#text {
    text-align: center;
    vertical-align: middle;
    font-size: 5.2rem;
    color: var(--white);
    font-family: 'Shadows Into Light', cursive;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
}

#text::before {
    /* Unicode for left quote " */
    content: '\201C';
    color: var(--pink);
}

#text::after {
    /* Unicode for right quote " */
    content: '\201D';
    color: var(--pink);
}

#author {
    text-align: center;
    vertical-align: middle;
    font-size: 4rem;
    color: var(--pink);
    font-weight: 900;
    font-family: 'Sacramento', cursive;
}

#author::before {
    /* Unicode for Dash */
    content: '\2012';
    color: var(--white);
}

#buttons-box {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    display: grid;
    grid-template-columns: 1fr 75px 75px 1fr;
    grid-template-rows: 1fr;
    /* Purpose: debugging */
    background-color: cadetblue;
}

#new-quote-box {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* Purpose: debugging */
    background-color: greenyellow;
}

#tweet-quote-box {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    /* Purpose: debugging */
    background-color: yellow;
}

#new-quote-box,
#tweet-quote-box,
#author-box,
#text-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Buttons */
#new-quote,
#tweet-quote {
    width: 50px;
    height: 50px;
    border: 3px solid;
    border-color: var(--pink);
    border-radius: 50%;
    padding: 1px;
    color: var(--pink);
    background-color: var(--white);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    box-sizing: content-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#new-quote:hover,
#tweet-quote:hover {
    background-color: var(--pink);
    color: var(--white);
    width: 56px;
    height: 56px;
    transition: width 0.1s, height 0.1s;
    -webkit-transition: width 0.1s, height 0.1s;
    -moz-transition: width 0.1s, height 0.1s;
    -ms-transition: width 0.1s, height 0.1s;
    -o-transition: width 0.1s, height 0.1s;
}

/* ANIMATION */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate,
.animate:hover {
    animation-name: rotate;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-play-state: running;
}

.animate:active {
    animation-name: none !important;
}

#footer {
    /* Purpose: debugging */
    background-color: lawngreen;
    position: fixed;
    z-index: 2;
    text-align: center;
    vertical-align: middle;
    width: 350px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: var(--pink);
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    border: 4px solid;
    border-color: var(--white);
    border-style: double;
}

#footer-p>p {
    color: var(--white);
    line-height: 0.4;
    margin: 0;
    padding-bottom: 8px;
    padding-top: 10px;
}

#footer-p>p>a {
    font-family: inherit;
    color: var(--white);
    text-decoration: none;
}

#logo {
    width: 40px;
    height: 40px;
}

#logo-box {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Purpose: debugging */
    background-color: aqua;
}

#footer-p {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    /* Purpose: debugging */
    background-color: yellow;
}

#flower-1,
#flower-2,
#flower-3,
#flower-4 {
    position: fixed;
    z-index: 100;
    width: 100px;
    height: 100px;
}

#flower-1 {
    top: 0;
    left: 0;
}

#flower-2 {
    top: 0;
    right: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#flower-3 {
    bottom: 0;
    left: 0;
}

#flower-4 {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#text,
#author {
    opacity: 0;
}

/* Fade-In: The animation defined */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Fade-Out: The animation defined */
@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* The animation class applied to text and author */
.animation {
    animation-name: none;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-play-state: running;
}


/* 
    * IMPORTANT: Comment this to see colors of grid for debugging
    * Always keep at the end (before media queries)
    * purpose: debugging
*/
#quote-box-container,
#buttons-box,
#author-box,
#text-box,
#new-quote-box,
#tweet-quote-box,
#footer-p,
#logo-box {
    background-color: initial;
    border: none;
}

/*///////////////////////////////////////////////////*/
/*//////////////////_MEDIA_QUERIES_//////////////////*/
/*///////////////////////////////////////////////////*/

@media only screen and (max-width: 900px) {

    #text {
        font-size: 4.4rem;
        line-height: 1.3;
    }

    #flower-1,
    #flower-2,
    #flower-3,
    #flower-4 {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 600px) {

    #text {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 460px) {

    #text {
        font-size: 3.5rem;
        line-height: 1.3;
    }

    #footer {
        grid-template-columns: 60px 1fr;
        width: 300px;
    }

    #flower-1,
    #flower-2,
    #flower-3,
    #flower-4 {
        width: 40px;
        height: 40px;
    }

}

@media only screen and (max-width: 360px) {

    #text {
        font-size: 3rem;
    }

    #author {
        font-size: 3rem;
    }

    #footer {
        grid-template-columns: 50px 1fr;
        width: 260px;
        font-size: 1.7rem;
        line-height: 0.3;
    }

    #flower-1,
    #flower-2,
    #flower-3,
    #flower-4 {
        width: 35px;
        height: 35px;
    }

}

@media only screen and (max-width: 315px) {

    #footer {
        grid-template-columns: 48px 1fr;
        width: 240px;
        font-size: 1.5rem;
        line-height: 0.3;
    }

    #flower-1,
    #flower-2,
    #flower-3,
    #flower-4 {
        width: 30px;
        height: 30px;
    }

}

@media only screen and (max-height: 625px) {

    #text {
        line-height: 1.2;
    }

    #quote-box {
        height: 83vh;
        width: 85vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 59vh 3px 10vh 1px 55px;
    }

    /* Buttons */
    #new-quote,
    #tweet-quote {
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
    }

    #new-quote:hover,
    #tweet-quote:hover {
        width: 46px;
        height: 46px;
    }

    #buttons-box {
        grid-template-columns: 1fr 56px 56px 1fr;
    }

}